<a href="https://colab.research.google.com/github/0jipy/192kbps_colab_JIPY/blob/main/__Spam_ML_Nb_lr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 스팸 전처리완료 파일 이용
- 머신 러닝 방법으로 분류해서 정확도 
 

    CountVectorizer + NaiveBayes
    TfidfVectorizer + LogisticRegression

### 파일 불러오기

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
seed = 2022
np.random.seed(seed)
tf.random.set_seed(seed)

In [6]:
import pandas as pd 
# df = pd.read_csv('spam.csv', encoding='latin1')
df = pd.read_csv('/content/spam_전처리완료.csv', encoding='latin1')
df.head(3)

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...

In [8]:
df.shape

(5169, 2)

In [22]:
# x, y data
x = df.v2.values
y = df.v1.values
x.shape, y.shape

((5169,), (5169,))

## CV벡터화 + NB분류기
    - 0.9721 정확도

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
cvect = CountVectorizer(stop_words='english')

In [26]:
# 카운터벡터라이저의 X data 준비
X_cv = cvect.fit_transform(x)
# cvect.vocabulary_

In [27]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X_cv, y, stratify=y, random_state=seed
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3876, 8409), (1293, 8409), (3876,), (1293,))

In [28]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [29]:
nb.fit(X_train, y_train)
nb.score(X_test, y_test)

0.9721577726218097

## Tfidf벡터화 + LogisticRegression
    - 0.9559 정확도 (n_gram None)
    - 0.9342 정확도 (n_gram (1,2))

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer
tvect = TfidfVectorizer()

In [32]:
# Tfidf벡터라이저의 X data 준비
X_tv = tvect.fit_transform(x)
# tvect.vocabulary_

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X_tv, y, stratify=y, random_state=seed
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3876, 8677), (1293, 8677), (3876,), (1293,))

In [36]:
# ((3876, 8409), (1293, 8409), (3876,), (1293,)) 
# CV방식과 비교해 행수가 8677로 조금늘었다.
# n gram 옵션 1,2 일때 한번더 확인하기

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=seed) # 맥스_iter를 어떻게?

In [37]:
lr.fit(X_train, y_train)
lr.score(X_test, y_test)

0.9559164733178654

### n_gram 옵션 1,2

In [38]:
tvect12 = TfidfVectorizer(ngram_range=(1,2))

In [39]:
X_tv12 = tvect12.fit_transform(x)

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X_tv12, y, stratify=y, random_state=seed
)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3876, 50232), (1293, 50232), (3876,), (1293,))

In [41]:
# ((3876, 8409), (1293, 8409), (3876,), (1293,)) tfidf 방식이 CV방식보다 조금 늘어나.
# ((3876, 50232), (1293, 50232), (3876,), (1293,)) n gram 옵션 1,2  많이 늘어남.

In [42]:
lr.fit(X_train, y_train)
lr.score(X_test, y_test)
# 기존 n gram None 정확도보다 하락

0.934261407579273